/* Allgemeine Einstellungen */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Stil für den Hintergrund-Container */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Stellt sicher, dass das Bild gut passt */
    background-position: center; /* Zentriert das Bild */
    z-index: -1; /* Stellt das Bild hinter die anderen Elemente */
}

/* Standard-Hintergrundbild für Desktop */
.background-image {
    background-image: url('desktop-hintergrund.jpg');
}

/* Media Query für Mobilgeräte: Verwendung eines anderen Hintergrundbildes auf Mobilgeräten */
@media (max-width: 768px) {
    .background-image {
        background-image: url('hintergrundbild2.jpg');
    }
}

/* Stil für das Logo */
.logo {
    width: 230px; /* Breite des Logos */
    height: auto; /* Höhe wird automatisch basierend auf der Breite angepasst */
    position: absolute;
    right: 20px;
    top: 20px;
}

/* Stil für den Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Leicht transparenter Hintergrund */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}
