/* Setzt grundlegende Formatierungen */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Stil für das Logo */
.logo {
    height: 230px; /* Oder eine andere passende Größe */
    position: absolute;
    right: 20px;
    top: 20px;
}

/* Vollflächiges Bild */
.full-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Stellt sicher, dass das Bild den Container füllt, ohne verzerrt zu werden */
    position: fixed;
    z-index: -1; /* Setzt das Bild hinter den Text */
}

/* Stil für den Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Leicht transparenter Hintergrund */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}

/* Media Query für Mobilgeräte */
@media (max-width: 768px) {
    /* Logo kleiner machen und neu positionieren */
    .logo {
        width: 230px; /* Kleiner als auf dem Desktop */
        height: auto; /* Höhe automatisch anpassen */
        top: 10px; /* Weniger Platz am oberen Rand */
        right: 10px; /* Weniger Platz am rechten Rand */
    }

    /* Anpassungen für das Hintergrundbild */
    .full-background {
        object-fit: cover;  /* Falls nicht bereits gesetzt */
    }

    /* Footer Text kleiner machen */
    footer {
        font-size: 12px; /* Kleinerer Text */
        padding: 8px; /* Weniger Platz benutzen */
    }
}
